html {
    line-height: 1.5;
}

nav {
    font-size: larger;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.items-start {
    align-items: flex-start;
}

.w-full {
    width: 100%;
}

.max-w-2xl {
    max-width: 42rem;
}

.max-w-4xl {
    max-width: 56rem;
}

.p-8 {
    padding: 2rem;
}

*,
 :after,
 ::before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {
    .md\:my-8 {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

button {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem;
}

nav div {
    display: block;
}

nav div a {
    padding: 1rem;
}

main>div {
    max-width: 42rem;
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

a div div {
    display: flex;
}

footer hr {
    width: 100%;
    margin: 0;
    margin-bottom: 2rem;
    border-top-width: 1px;
    height: 0;
}

.footer {
    display: flex;
    width: 100%;
    margin-bottom: 2rem;
}

.footerlogo {
    display: inline-flex;
    flex-direction: row;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    width: 100%;
}

footer>div:last-child {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-content: space-between;
    gap: 1rem;
    max-width: 42rem;
    width: 100%;
    padding-bottom: 4rem;
}

footer>div:last-child div {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

.mb-4 {
    margin-bottom: 1rem;
}

.mb-8 {
    margin-bottom: 2rem;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

.relative {
    position: relative;
}

.py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
}

input {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

.block {
    display: block;
}

.border {
    border-width: 1px;
}

.rounded-md {
    border-radius: .375rem;
}

.mt-8 {
    margin-top: 2rem;
}